.site-header{
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 10px 0;
 
  
  @mixin atMedium{
    background-color: $headerColor; 
  }
  
  &--is-expanded{
  }
  
  &__btn-container{
    
    @mixin atMedium{
      float: right;
      }
    }
  
  &__logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.6);
    transform-origin: 50% 0%;
    background-color: $iconBackground;
    padding: 0px 0px;
    
    
    @mixin atMedium{
      left: auto;
      transform: translateX(0%) scaleY(1); 
      top: 0;
      transform: translateX(0%) scaleY(1);
      padding: 0px 0px;
    }
    
    
    &__graphic{
      text-indent: -9999px;       
    }
  }
  
  &__menu-icon{
    width: 20px;
    height: 19px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;

    

    
    &__middle{
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;;
      background-color: #fff;
      transition: all 0.3s ease-out;
    }
    
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;;
      background-color: #fff;  
      transform-origin: 0 0;
      transition: all 0.3s ease-out;
    }
    
    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;;
      background-color: #fff;  
      transform-origin: 0 100%;
      transition: all 0.3s ease-out;
    }

    
    @mixin atMedium{
      display: none;
    }
  }
  
  
  &__menu-icon--close-x{
    &::before{
      transform: rotate(45deg) scaleX(1.2);
    }
    
    .site-header__menu-icon__middle{
      transform: scaleX(0);
      opacity: 0; 
    }
    

    &::after{
      transform: rotate(-45deg) scaleX(1.2);
    }
  }
  
  
  &__menu-content{
    opacity: 0;
    transform: scale(1.2);
    text-align: center;
    transition: all 0.3s ease-out;
    z-index: -10;
    position: relative;
    
    @mixin atMedium{
      transform: scale(1);
      opacity: 1;
      z-index: 1;
      padding-top: 0;
    }
    
    &--is-visible{
      transform: scale(1);
      opacity: 1;
      z-index: 1;
    }
  }
}
